.header_container {
  padding: 25px 10%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.header_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header_content h2 {
  font-weight: 600;
  color: #fff;
  font-size: 3rem;
}
.header_content h2 span {
  color: #163acc;
}
.header_content p {
  color: #fff;
}
.header_btns {
  display: flex;
  gap: 2rem;
}
.header_btns a {
  text-decoration: none;
  background-color: #010d41;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.header_btns a:nth-child(2) {
  background-color: #163acc;
}
.header_btns a:nth-child(1):hover {
  background-color: #04145c;
}
.header_btns a:nth-child(2):hover {
  background-color: #1741e9;
}
.header_cards {
  display: flex;
  margin: auto;
  gap: 5rem;
  padding: 25px 10%;
  width: 80%;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  gap: 0.5rem;
  cursor: pointer;
}
.card span {
  background-color: linear-gradient(
    45deg,
    rgba(15, 18, 61, 1) 33%,
    rgba(15, 18, 61, 1) 52%,
    rgba(11, 41, 69, 1) 84%
  );
  color: #1741e9;
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .header_container {
    padding: 25px 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
  }
  .header_cards {
    margin-top: 10%;
  }
}
