.navbar_conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 25px 10%;
}
nav {
  display: flex;
  list-style: none;
  gap: 2rem;
}
nav li a {
  text-decoration: none;
  color: #fff;
}
nav li a:hover {
  color: #163acc;
}
.logo span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #163acc;
  cursor: pointer;
}
.login_icon {
  display: flex;
  gap: 0.5rem;
  color: #fff;
  cursor: pointer;
}
.login_icon:hover {
  color: #163acc;
}

.header_shrink {
  background-color: #090238 !important;
}
.mobile_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar_conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 25px 15px;
  }
  nav {
    display: none;
  }
  .login_icon {
    display: none;
  }
  .mobile_menu {
    display: block;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
  .show_menu {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
    line-height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
